%article
	%h1
		404 whoops!

	%p
		I don't know how you got here, but you might want to check out the
		%a{href: "/archive"}
			archives
		to view actual content or try searching for what you were looking for in the menu above.
	%p.image
		%img{src: "http://i.imgur.com/NybeWVR.gif", alt: "R2D2 with the subtitle of (sad beep)"}