%img#photo{:src => "/images/self.jpg", :alt => "photo of Lindsey"}
%p
  Lindsey is a computer scientist, feminist, software hacker, tea enthusiast, book worm, stenciler, and art kid wannabe.
%p
  All content here is licensed under
  %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/", :rel => "licence"} CC0

  %div.gittip
    %script{"data-gittip-username" => "LindseyB", :src => "https://www.gittip.com/assets/widgets/0002.js"}