%header
  .header-wrap
    %span{:id=>"title"}
      %a{:href=>"/archive"}#{TITLE}
    %nav
      %ul
        %li
          %a{:href=>"https://rstat.us/users/lindseybieda"}
            %img{:src=>"/images/rstatus.png", :alt=>"rstatus"}
        %li
          %a{:href=>"https://twitter.com/lindseybieda"}
            %img{:src=>"/images/twitter.png", :alt=>"twitter"}
        %li
          %a{:href=>"https://github.com/LindseyB"}
            %img{:src=>"/images/github.png", :alt=>"github"}
        %li
          %a{:href=>"http://www.goodreads.com/LindseyBieda"}
            %img{:src=>"/images/goodreads.png", :alt=>"goodreads"}
        %li
          %a{:href=>"/rss.xml"}
            %img{:src=>"/images/rss.png", :alt=>"rss"}


