%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/archive"} Blog
        %li
          %a{:href => "/projects"} Projects
        %li
          %a{:href => "/about"} About
      %p.navbar-text.navbar-right
        %form.navbar-form.navbar-left{:role => "search", :method => :get, :action => "https://www.google.com/cse"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text", :name => "q"}
            %input{:type => "hidden", :name => "cx", :value => "005943888444229921013:6iqf7briwj4"}
          .form-group
            %button.btn.btn-primary.btn-sm#search{:type => "submit"}
              %i.fa.fa-search.fa-lg
              %span#search-text search

      %p.navbar-text.navbar-right
        %a{:href => "http://github.com/LindseyB", :class => "navbar-link"}
          %i.fa.fa-github-alt.fa-lg
        %a{:href => "http://twitter.com/lindseybieda", :class => "navbar-link"}
          %i.fa.fa-twitter.fa-lg
        %a{:href => "http://lindseybieda.itch.io", :class => "navbar-link"}
          %i.fa.fa-gamepad.fa-lg
        %a{:href => "https://instagram.com/lindseybieda/", :class => "navbar-link"}
          %i.fa.fa-instagram.fa-lg
        %a{:href => "/rss.xml", :class => "navbar-link"}
          %i.fa.fa-rss.fa-lg
