%nav.navbar{:role => "navigation", :"aria-label" => "main navigation"}
  %a{href: "/projects", class: "navbar-item"} Projects
  %a{href: "/archive", class: "navbar-item"} Writing
  %a{href: "/about", class: "navbar-item"} About
  %a{href: "https://lindseyb.github.io/resume/", class: "navbar-item", target: "_blank"} Resume
  %a{href: "https://lindseyb.github.io/fART/", class: "navbar-item", target: "_blank"} Art
  %a{href: "https://lindseyb.github.io/GIFs/", class: "navbar-item", target: "_blank"} GIFs
  %a{:href => "/rss.xml", :class => "navbar-item"}
    %i.fa.fa-rss.fa-lg
