.share
  share
  %i.fa.fa.fa-share
  .share-menu
    .bubble
      %ul
        %li
          %a{:href => "https://twitter.com/share?url=#{request.url}&text=#{@title}&via=lindseybieda", :target => "_blank"}
            %i.fa.fa-2x.fa-twitter-square
        %li
          %a{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", :target => "_blank"}
            %i.fa.fa-2x.fa-facebook-square
        %li
          %a{:href => "https://plus.google.com/share?url=#{request.url}", :target => "_blank"}
            %i.fa.fa-2x.fa-google-plus-square