%nav.share
  %ul
    %li
      %a{:href => "#"}
        share
        %i.fa.fa-share
      %ul
        %li
          %a{:href => "https://twitter.com/share?url=#{request.url}&text=#{@title}&via=lindseybieda", :target => "_blank"}
            twitter
            %i.fa.fa-twitter
        %li
          %a{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", :target => "_blank"}
            facebook
            %i.fa.fa-facebook-square
        %li
          %a{:href => "https://plus.google.com/share?url=#{request.url}", :target => "_blank"}
            google+
            %i.fa.fa-google-plus-square