#title-circle
  Lindsey Bieda
  %span

%p.social
  %a{:href => "http://github.com/LindseyB"}
    %i.fa.fa-github-alt
  %a{:href => "http://twitter.com/lindseybieda"}
    %i.fa.fa-twitter
  %a{:href => "/rss.xml"}
    %i.fa.fa-rss
%p.archive-link
  %a{:href => "/archive"} Post Archive
  %br
  %a{:href => "/projects"} Projects
