%img#photo{:src => "/images/self.jpg", :alt => "photo of Lindsey"}
%p
  Lindsey is a computer scientist, intersectional feminist, tea enthusiast, book worm, and
  %a{:href => "http://cawcaw.herokuapp.com"}
    stenciler.
%p.social
  %a{:href => "http://github.com/LindseyB"}
    %i.fa.fa-github-alt
  %a{:href => "http://twitter.com/lindseybieda"}
    %i.fa.fa-twitter
  %a{:href => "https://www.gittip.com/LindseyB"}
    %i.fa.fa-gittip
  %a{:href => "/rss.xml"}
    %i.fa.fa-rss
%p.archive-link
  %a{:href => "/archive"} Post Archive