%article
	%h1 About
	%p
		%img{:src => "https://i.imgur.com/Zsk38gC.png", :class => "left shadow", :alt => "old photo of me working on some elastic search mappings"}
		I'm a software engineer who has been writing code for 16+ years. I love writing code in my free time to make silly games. When I'm not coding I'm probably playing video games, reading books/comics, or playing boardgames. I also really enjoy painting and making
		= succeed "." do
			%a{:href => "http://cawcaw.herokuapp.com/"} stencils
	%p
		I'm currently a remote worker (and I love it) and a huge fan of both pair programming and
		= succeed "." do
			%a{:href => "https://www.stickermule.com/marketplace/4833-purr-programmer"} purr programming

	%p
		I'm really hoping to one day become awesome with hardware so I can find more fun ways to mix my love of hula hooping with the joy that is messing with electronics.
	%p
		I am also completely unable to remove a yogurt lid in one piece.

	%h2 About this site

	%p
		The source for this site is entirely available on
		%a{:href => "https://github.com/LindseyB/blog"} github
		and it was written in ruby using
		= succeed "." do
			%a{:href => "https://www.sinatrarb.com/"} sinatra
		I'd like to thank all the
		%a{:href => "https://github.com/LindseyB/blog/graphs/contributors"} contributors
		for their code and typo fixes and as always pull requests are welcomed.

	%h2 License

	%p
		Everything on this site, created by me, is licensed under the WTFPL.

		%pre
			= preserve "\t\t\tDO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE\n\t\t\t\tVersion 2, December 2004\n\nCopyright (C) 2004 Sam Hocevar <sam@hocevar.net>\n\nEveryone is permitted to copy and distribute verbatim or modified copies of this license document, and changing it is allowed as long as the name is changed. \n\n\t\t\tDO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE \nTERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION\n\n0. You just DO WHAT THE FUCK YOU WANT TO."

