%h1
  #{@title}
%aside
  %time
    %h2
      Archive
  %p
    Lindsey is a computer scientist, feminist, software hacker, tea enthusiast, book worm, stenciler, and art kid wannabe.
  %p
    All content here is licensed under
    %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/", :rel => "licence"} CC0


%article
  %ul.archive
    - latest_posts.each do |post|
      %li
        %a{:href => "/posts/#{post.name}", :title => post.title, :alt => post.title}
          = post.title
          %div.date
            = post.formatted_date


