%article.archive
  %h1
    Writing
  .grid
    - @posts.each do |post|
      .grid-item
        %a{:href => "/posts/#{post.name}", :title => post.title, :alt => post.title}
          .panel.panel-default
            .panel-heading= post.title.titleize
            .panel-body=post.blurb(200)
