%article.archive
  %h1
    Writing
  %ul
    - @posts.each do |post|
      %li
        %a{:href => "/posts/#{post.name}", :title => post.title, :alt => post.title}
          = post.title.titleize
        %span.date
          = post.formatted_date

