.post
  %h1 Hi. I want to design and build things to create a unified world.
  %p
  %p
    My name is Dave. There are too many Daves in the world, so call me Wilkie. I write <a href="http://github.com/wilkie">code</a>.
  %p
    I do research on OS design and maintain a small
    <a href="http://github.com/xomboverlord/xomb">kernel</a>.
  %p
    I believe in a free and open internet and am one of the founders of the federated microblogging software <a href="http://rstat.us">rstat.us</a>.
  %p
    I assert that an OS can be designed in such a way that it adapts and learns. It is the design that is most important. I am developing such an <a href="http://github.com/djehuty">adaptable system</a> in the public domain.
  %p
    The most important facet of computation is that is can be used and leveraged by all people. I do not believe that we, as a society, are allowing the correct amount of diversity it terms of gender, sex, ethnicity, and other socially constructed values such as race.
  %p
    As such, my hobbies include pursuits such as gender studies so that I can better understand how to develop an adaptable system that can overcome this adversity and truly reach all of humanity.
  %p
    I will write on topics such as software design, copyright and other legal issues that pertain to software, gender and diversity issues, information freedom, and perhaps random things I find neat.
  %p
    I am loosely or strongly associated with awesome people you should also become acquainted with:
  %p
    %a{:href=>"http://blog.steveklabnik.com"}<
      Steve Klabnik
    ,
    %a{:href=>"http://rarlindseysmash.com"}<
      Lindsey Bieda
    ,
    %a{:href=>"http://ashedryden.com"}<
      Ashe Dryden
    ,
    %a{:href=>"http://dominicdagradi.com/"}<
      Dominic Dagradi
