%article
    %h1 Lindsey Bieda

    %a.button{href: "https://lindseyb.github.io/resume/", target: "_blank"}
        Resume
    
    %a.button{href: "https://rarlindseysmash.com/"}
        Personal Website
    
    %a.button{href: "https://github.com/LindseyB", target: "_blank"}
        GitHub
    
    %a.button{href: "https://twitter.com/LindseyBieda", target: "_blank"}
        Twitter

    %a.button{href: "https://www.instagram.com/LindseyBieda/", target: "_blank"}
        Instagram

    %a.button{href: "https://www.twitch.tv/beekkodocrimes/", target: "_blank"}
        Twitch
    
    %a.button{href: "https://lindseybieda.itch.io/", target: "_blank"}
        Itch.io