%h1
  #{@title}
%aside
  %time
    #{@formatted_date}
  %p
    Lindsey is a computer scientist, feminist, software hacker, tea enthusiast, book worm, 
    %a{:href => "http://cawcaw.herokuapp.com/"} stenciler
    , and art kid wannabe.
  %p
    All content here is licensed under
    %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/", :rel => "licence"} CC0
  %p{:id => "archive"}
    %i{:class => "icon-book"}
    %a{:href => "/archive"} archive


%article
  :preserve
    #{@content}


