%html
  %head
    %link{:href=>"http://fonts.googleapis.com/css?family=Inconsolata|Forum|Metrophobic|Wire+One", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"/stylesheets/reset.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"/stylesheets/post.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"/stylesheets/desert.css", :rel=>"stylesheet", :type=>"text/css"}
    %title #{title}
  %body
    .nav
    .post
      %h1
        #{@title}
      %p
        by: #{@author}
      :preserve
        #{@content}
    %script{:src=>"http://code.jquery.com/jquery-1.6.4.min.js"}
    %script{:src=>"/javascript/app.js"}
