%h1
  #{@title}
%aside
  %time
    #{@date}
  %p
    Lindsey is a computer scientist, feminist, software hacker, tea enthusiast, book worm, stenciler, and art kid wannabe.
  %p
    All content here is licensed under
    %a{:href => "http://creativecommons.org/publicdomain/zero/1.0/", :rel => "licence"} CC0
  %p{:id => "archive"}
    %i{:class => "icon-book"}
    %a{:href => ""} archive


%article
  :preserve
    #{@content}


