%article.projects
  %h1 Projects
  .grid
    - @projects.each do |project|
      .grid-item
        %a{:href => project[:link], :title => project[:name], :alt => project[:name]}
          .panel.panel-default
            .panel-heading
              = project[:name]
            .panel-body{ :style => "background: url('#{project[:image]}') no-repeat; background-size: cover;"}
