%article.projects
	%h1 Projects
	.page-header
		%h2 Bots
	.panel.panel-default
		.panel-heading
			%h3.panel-title Star Wars Gifs
		.panel-body
			.row
				.col-md-6
					%p
						A series of bots that generate star wars gifs on the fly from subtitle files. Includes a
						%a{href: "https://www.youtube.com/watch?v=n387eBqnw1o"}terminal based UI
						for searching for quotes.
						%ul
							%li
								%a{href: "https://twitter.com/starwarsdotgif"} @StarWarsDotGIF
								\: generates a random gif from the Star Wars original trilogy once every hour and tweets it
							%li
								%a{href: "https://twitter.com/SWPrequelDotGif"} @SWPrequelDotGif
								\: generates a random gif from the Star Wars prequels once every hour and tweets it
							%li
								%a{href: "http://starwarsgifsasaservice.tumblr.com/"} starwarsgifsasaservice.tumblr.com
								\: generates a random gif from the Star Wars original trilogy once every 12 hours and posts it to tumblr
				.col-md-6
					%p.image
						%img{src: "http://i.imgur.com/8PJevlr.gif", alt: "I think I got it."}
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/starwars-dot-gif"} source
	.panel.panel-default
		.panel-heading
			%h3.panel-title XOmBot
		.panel-body
			.row
				.col-md-6
					%p
						A multifunctional IRC bot that takes a lot of commands
				.col-md-6
					%p.image
						%img{src: "/images/projects/xombot.png", alt: "XOmBot screenshot from IRC"}
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/XOmBot"} source

	.panel.panel-default
		.panel-heading
			%h3.panel-title Pride, Prejudice, Dungeons, and Dragons
		.panel-body
			.row
				.col-md-6
					%p
						A markov chain bot that mixes up the Dungeons and Dragons 5th edition monster manual with Pride and Prejudice - written in python.
				.col-md-6
					<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Collins and Charlotte were both ever sensible of your reverie.&quot; &quot;I should like it of the sisters was... <a href="http://t.co/0A6MmA53VY">pic.twitter.com/0A6MmA53VY</a></p>&mdash; PnP DnD (@pnp_dnd) <a href="https://twitter.com/pnp_dnd/status/596721445843181568">May 8, 2015</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/pride-prejudice-dungeons-dragons"} source

	.page-header
		%h2 Games

	.panel.panel-default
		.panel-heading
			%h3.panel-title As The Crow Flies
		.panel-body
			.row
				.col-md-6
					%p
						A lua game using
						%a{href: "http://love2d.org"} LÖVE
						in which you must control a crow to dodge the lines of the Sylvia Plath poem 'Admonition'.
						<iframe src="//itch.io/embed/17150?linkback=true" width="552" height="167" frameborder="0" class="center itch-frame scaling"></iframe>
				.col-md-6
					.youtube_resize
						<img src="/images/youtube_placeholder.png">
						<iframe class="youtube_frame" src="//www.youtube.com/embed/OkJgclx0cco?rel=0" frameborder="0" allowfullscreen></iframe>
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/as-the-crow-flies"} source

	.panel.panel-default
		.panel-heading
			%h3.panel-title Phrases Machine
		.panel-body
			.row
				.col-md-6
					%p
						A game inspired by bad machine translations where you take a poorly translated phrase and try to figure out the original phrase in English
						<iframe src="//itch.io/embed/25699" width="552" height="167" frameborder="0" class="center itch-frame scaling"></iframe>
				.col-md-6
					%img.scaling{:src=>"http://i.imgur.com/D8R0QV0.png"}
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/phrases-machine"} source

	.panel.panel-default
		.panel-heading
			%h3.panel-title Kessel Run
		.panel-body
			.row
				.col-md-6
					%p
						A javascript game using
						%a{href: "http://phaser.io"} Phaser
						in which you must take a crew of people and survive the journey in space.
						<iframe src="//itch.io/embed/25701" width="552" height="167" frameborder="0" class="center itch-frame scaling"></iframe>
				.col-md-6
					.youtube_resize
						<img src="/images/youtube_placeholder.png">
						<iframe class="youtube_frame" src="//www.youtube.com/embed/IOSKXpHCChQ?rel=0" frameborder="0" allowfullscreen></iframe>
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/kessel-run"} source

	.panel.panel-default
		.panel-heading
			%h3.panel-title Green Jellybean Love Stars
		.panel-body
			.row
				.col-md-6
					%p
						A lua game using
						%a{href: "http://love2d.org"} LÖVE
						in which you control a green jellybean in space that collects stars
				.col-md-6
					.youtube_resize
						<img src="/images/youtube_placeholder.png">
						<iframe class="youtube_frame" src="//www.youtube.com/embed/fEEAONl4qos?rel=0" frameborder="0" allowfullscreen></iframe>
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/love"} source

	.panel.panel-default
		.panel-heading
			%h3.panel-title Iron Trotter
		.panel-body
			.row
				.col-md-6
					%p
						A multiplayer python game made with pygame in which you must collect potions and kill ghosts.
				.col-md-6
					.youtube_resize
						<img src="/images/youtube_placeholder.png">
						<iframe class="youtube_frame" src="//www.youtube.com/embed/WsWhWeWthAE?rel=0" frameborder="0" allowfullscreen></iframe>
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/IronTrotter"} source

	.panel.panel-default
		.panel-heading
			%h3.panel-title Ascii Ascii Revolution
		.panel-body
			.row
				.col-md-6
					%p
						A rhythm game written in D using ncurses
				.col-md-6
					.youtube_resize
						<img src="/images/youtube_placeholder.png">
						<iframe class="youtube_frame" src="//www.youtube.com/embed/Fil-LXC9CRA?rel=0" frameborder="0" allowfullscreen></iframe>
		.panel-footer
			%p
				%a.label.label-info{href: "https://github.com/LindseyB/AsciiAsciiRevolution"} source
