%article
	%h1
		Projects
		%h2 Bots
		%h3 Star Wars Gifs
		%p
			A series of bots that generate star wars gifs on the fly from subtitle files. Includes a
			%a{href: "https://www.youtube.com/watch?v=n387eBqnw1o"}terminal based UI
			for searching for quotes.
			%ul
				%li
					%a{href: "https://twitter.com/starwarsdotgif"} @StarWarsDotGIF
					\: generates a random gif from the Star Wars original trilogy once every hour and tweets it
				%li
					%a{href: "https://twitter.com/SWPrequelDotGif"} @SWPrequelDotGif
					\: generates a random gif from the Star Wars prequels once every hour and tweets it
				%li
					%a{href: "http://starwarsgifsasaservice.tumblr.com/"} starwarsgifsasaservice.tumblr.com
					\: generates a random gif from the Star Wars original trilogy once every 12 hours and posts it to tumblr
		%p.image
			%img{src: "http://i.imgur.com/8PJevlr.gif", alt: "I think I got it."}
		%p
			%a{href: "https://github.com/LindseyB/starwars-dot-gif"} source
		%h3 XOmBot
		%p
			A multifunctional IRC bot that takes a lot of commands
		%p.image
			%img{src: "/images/projects/xombot.png", alt: "XOmBot screenshot from IRC"}
		%p
			%a{href: "https://github.com/LindseyB/XOmBot"} source
		%h2 Games
		%h3 As The Crow Flies
		%p
			A lua game using
			%a{href: "http://love2d.org"} LÖVE
			in which you must control a crow to dodge the lines of the Sylvia Plath poem 'Admonition'.
		<iframe src="//itch.io/embed/17150?linkback=true" width="552" height="167" frameborder="0" class="center"></iframe>
		.youtube_resize
			<img src="/images/youtube_placeholder.png">
			<iframe class="youtube_frame" src="//www.youtube.com/embed/OkJgclx0cco?rel=0" frameborder="0" allowfullscreen></iframe>
		%p
			%a{href: "https://github.com/LindseyB/as-the-crow-flies"} source
		%h3 Kessel Run
		%p
			A javascript game using
			%a{href: "http://phaser.io"} Phaser
			in which you must take a crew of people and survive the journey in space.
		.youtube_resize
			<img src="/images/youtube_placeholder.png">
			<iframe class="youtube_frame" src="//www.youtube.com/embed/IOSKXpHCChQ?rel=0" frameborder="0" allowfullscreen></iframe>
		%h3 Green Jellybean Love Stars
		%p
			A lua game using
			%a{href: "http://love2d.org"} LÖVE
			in which you control a green jellybean in space that collects stars
		.youtube_resize
			<img src="/images/youtube_placeholder.png">
			<iframe class="youtube_frame" src="//www.youtube.com/embed/fEEAONl4qos?rel=0" frameborder="0" allowfullscreen></iframe>
		%p
			%a{href: "https://github.com/LindseyB/love"} source
		%h3 Iron Trotter
		%p
			A multiplayer python game made with pygame in which you must collect potions and kill ghosts.
		.youtube_resize
			<img src="/images/youtube_placeholder.png">
			<iframe class="youtube_frame" src="//www.youtube.com/embed/WsWhWeWthAE?rel=0" frameborder="0" allowfullscreen></iframe>
		%p
			%a{href: "https://github.com/LindseyB/IronTrotter"} source
		%h3 Ascii Ascii Revolution
		%p
			A rhythm game written in D using ncurses
		.youtube_resize
			<img src="/images/youtube_placeholder.png">
			<iframe class="youtube_frame" src="//www.youtube.com/embed/Fil-LXC9CRA?rel=0" frameborder="0" allowfullscreen></iframe>
		%p
			%a{href: "https://github.com/LindseyB/AsciiAsciiRevolution"} source
