.container {
	background-color: #f0e8f0;
	border-right: 3px solid #a8a;
	border-left: 3px solid #a8a;
}

nav {
	padding-left: 0px;
	padding-top: 15px;
	padding-right: 12px;
	padding-bottom: 20px;
}

nav .nav-content {
	position: fixed;
	width: 230px;
}

nav .nav-section {
	margin-bottom: 25px;
	text-align: center;
}

nav .nav-section + h3 + .nav-section {
	text-align: left;
}

nav .nav-section ul {
	list-style-type: disc; 
	margin-left: 15px;
}

nav h3 {
	font-family: 'Forum', serif;
	text-align: center;
	display: block;
	color: #606060;
	font-size: 24px;
}

nav .nav-section + h3 {
	margin-top: 30px;
}

nav li {
	font-family: 'Metrophobic', sans-serif;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0;
}

nav .nav-section ul.toc > li {
	list-style-type: none;
	margin: 0;
	margin-left: 10px;
}

nav .nav-section ul.toc > li ul li {
	list-style-type: disc;
	margin: 0;
	margin-left: -0.7em;
}

nav .nav-section ul.toc a {
	text-decoration: none;
}

nav .nav-title h3 a {
	text-decoration: none;
}

nav ul.toc li {
	padding-left: 1em;
	text-indent: -1em;
}

nav ul.toc {
	margin-left: 0;
}

nav a.image {
	margin: 24px;
}
