body,html {
	background-color: #eef;
	background-attachment: fixed;
	height: 100%;
}

.container {
	min-height: 100%;
}

.post {
	background-color: #f4f4f4;
	min-height: 100%;

	padding-left: 20px;
	padding-top: 15px;
	padding-right: 22px;
	padding-bottom: 20px;

	border-left: 1px solid #cac;
	border-right: 1px solid #cac;
	border-bottom: 1px solid #cac;
}

.post a {
	color: #d6d;
}

.post a:visited {
	color: #d9d;
}

.post h1, .post h2, .post h3 {
	font-family: 'Forum', serif;
}

.post h1 {
	color: rgb(72, 74, 171);
	font-size: 36px;
	font-weight: bold;
	line-height: 1.0em;
	margin-bottom: 0;
}

.post h1 + p {
	margin-top: 0;
}

.post h2 {
	color: rgb(88, 90, 209);
	font-size: 28px;
	margin-bottom: 3px;
}

.post h3 {
	color: rgb(73, 76, 230);
	font-size: 18px;
	margin-bottom: 3px;
}

.post p {
	margin-top: 3px;
	margin-left: 3px;

	font-size: 16px;
	font-family: 'Metrophobic', sans-serif;

	line-height: 1.4em;
}

.post h1 + p {
	margin-bottom: 15px;
	font-size: 12px;
}

.post p + ul,
.post p + ol,
.post p + h3,
.post pre + h3,
.post p + h2,
.post pre + h2,
.post p + blockquote,
.post blockquote + h2,
.post blockquote + h3,
.post ol + h2,
.post ul + h2,
.post ol + h3,
.post ul + h3 {
	margin-top: 25px;
}

.post p + p {
	margin-top: 13px;
}

.post em {
	font-style: italic;
}

.post strong {
	font-weight: bold;
}

.post pre {
	margin-left: 8px;
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 7px;
	padding-top: 3px;
	padding-bottom: 4px;
	
	line-height: 1.1em;

	overflow: auto;
}

.post pre > code {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
}

.post blockquote > p {
	font-family: 'Wire One', sans-serif;
	font-style: normal;
	font-size: 28px;
}

.post blockquote {
	font-style: normal;
	margin-bottom: 20px;
	background-color: #ddd;
	padding: 5px;
	color: #808080;
	padding: 0.5em 2em .5em 2.1em;
	position: relative;
}

.post blockquote:before {
	font-family: 'Inconsolata', monospace;
	content: "\00201c";
	position: absolute;
	top: 0;
	left: 3px;
	font-size: 4em;
	line-height: 1;
	color: #d0a0d0;
	z-index: 1;
}

.post .citation {
	line-height: 1em;
	font-size: 12px;
	font-family: 'Metrophobic';
	font-style: italic;
	color: #aaa;
	text-align: right;
	margin-top: 8px;
}

.post blockquote a {
	color: #aaa;
}

.post blockquote a:visited {
	color: #aaa;
}

.post ul {
	list-style-type: disc;
}

.post ol {
	list-style-type: decimal;
}

.post ul, .post ol {
	margin-left: 25px;
	font-weight: bold;
	font-family: 'Metrophobic';
}

.post li {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
}

.post li p {
	font-weight: normal;
	font-size: 14px;
}

.post p.center {
	text-align: center;
}

.post img {
	background-color: #f0e8f0;
	border: 1px solid #a8a;
	padding: 7px;
}
