body {
	margin:0;
	background-image: url('../images/bg.png');
}

h1 {
	font-family: 'BebasRegular', sans-serif;
	font-size: 4em;
	color: #58E0C0;
	text-shadow: 0px 1px 5px #d6d6d6;
	padding: 0 0.5em;
	letter-spacing: -0.06em;
	word-spacing: 0.25em;
	line-height: 1.1em;
	padding: 0;
	display: block;
	width:100%;
}

h2 {
	font-family: 'BebasRegular', sans-serif;
	font-size: 2em;	
	text-shadow: 0px 1px 5px #d6d6d6;
	margin: 0 0 0.5em 0;
}

h3 {
	font-family: 'BebasRegular', sans-serif;
	text-shadow: 0px 1px 5px #d6d6d6;	
}

article {
	width: 65%;
	float: right;
	padding: 0 1em 0 0;
}

p, .archive {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.5em;
	line-height: 1.3em;
	margin: 0 0 1em 0;
}

ul.archive {
	list-style-type: none;
	font-size: 1.2em;
}

.archive li {
	margin-bottom: 1.5em;
}

.icon-circle-arrow-right {
	font-size: 2em;
	float: left;
	padding-top: 0.3em;
	margin-right: 0.2em;
	margin-bottom: 1em;
}

.date {
	font-size: 0.8em;
	color: #818181;
}

aside {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	float: left;
	width: 30%;
	padding: 0 0 0 1em;
}

aside p {
	font-size: 1.1em;
	line-height: 1.2em;
	margin-top: 1em;
	font-weight: 300;
}

nav a, nav a:hover{
	border-bottom:none;
}



a, p a, ol li a, .archive a {
	text-decoration: none;
	color: black;
	border-bottom: solid 1px #58E0C0;
	padding-bottom: 0px;
}


a:hover, p a:hover, ol li a:hover, .archive a:hover{ 
	border-bottom: dashed 1px #58E0C0;
}

time {
	display: block;
	border-bottom: solid 1px #efefef;
	font-weight: 500;
	font-size: 2em;
}

time h2 {
	margin: 0;
}

header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 2em;
	background-color: #3f3f3f;
	color: #efefef;
	padding: 0.3em;
	overflow: hidden;
}

#title {
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 0.1em;
}

nav ul li a img {
	vertical-align: middle;
	opacity: 0.4;
	width: 80%;
	height: 80%;
}

nav ul li:hover a img {
	transition-duration: 1s;
	-moz-transition-duration: 1s; /* Firefox 4 */
	-webkit-transition-duration: 1s; /* Safari and Chrome */
	-o-transition-duration: 1s; /* Opera */
	transition-property:opacity;
	-moz-transition-property:opacity; /* Firefox 4 */
	-webkit-transition-property:opacity; /* Safari and Chrome */
	-o-transition-property:opacity; /* Opera */
	opacity: 0.8;
}

nav ul a {
	color: #3f3f3f;
}

ol {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;	
}

blockquote {
	background-image: url('../images/quotebg.png');
	background-repeat: no-repeat;
	padding: 20px 0 0 50px;
}

blockquote p:first-child {
	font-size: 1.2em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #58E0C0;
}

cite {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
}

.citation {
	text-align: right;
}

.main-wrap, .header-wrap {
	max-width: 970px;
	width: 80%;
	margin: 0 auto;
	padding: 0 0.3em;
}

.header-wrap {
	line-height: 2em;
}

#archive {
	font-size: 2em;
	margin: 2em 0;
}

#archive a {
	margin-left: 10px;
}

.prettyprint {
	overflow-x: auto;
	padding: 10px;
}

.image {
	text-align: center;
}

.image img {
	max-width: 100%;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

.center {
	display: block;
	margin: 0 auto;
}

.caption {
	font-size: 0.8em;
	font-weight: bold;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('../font/BEBAS___-webfont.eot');
    src: url('../font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BEBAS___-webfont.woff') format('woff'),
         url('../font/BEBAS___-webfont.ttf') format('truetype'),
         url('../font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
	background: #B3E8FA; /* Safari */
}
::-moz-selection {
	background: #B3E8FA; /* Firefox */
}
