.navbar-brand {
	font-size: 1.5em;
}

.navbar .nav>li>a {
	font-size: 1.5em;
}

.header-img {
	width: 100%;
	background: url('/images/header.jpg') center center no-repeat;
	background-size: cover;
	height: 0;
	padding-top: 29%;
}

.header-img:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:  linear-gradient(to bottom, rgba(168,168,168,1) 0%, rgba(15,255,167,0.55) 100%);
	opacity: .6;
	height: 0;
	padding-top: 29%;
}

article {
	width: 90%;
	margin: auto;
	font-family: 'Merriweather', serif;
}

article p {
	font-size: 1.5em;
}

.date {
	margin-bottom: 3em;
}

time, a.label.label-info {
	background-color: rgb(47, 208, 149) !important;
	color: #ffffff !important;
}

time {
	font-size: 1em !important;
}

a.label.label-info {
	font-size: 0.7em !important;
}

article a {
	color: rgb(47, 208, 149) !important;
}

.image {
	text-align: center;
}

.image img {
	max-width: 100%;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

.embed {
	max-width: 650px;
	margin: 1em auto;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

.center {
	display: block;
	margin: 0 auto;
}

.caption {
	font-size: 0.8em;
	font-weight: bold;
}

table {
	margin: auto;
	background: white;
}

.archive .panel-heading a {
	font-size: 1.8em;
}

.archive .date {
	float: right;
	margin: 0;
}

.paging {
	text-align: center;
}

.paging a {
	font-size: 1.5em;
	font-weight: bold;
}

.navbar-link {
  padding: 0 8px;
}

.navbar-link:hover {
  text-decoration: none;
}

.projects .panel-title {
  font-size: 1.8em;
}

.itch-frame {
	margin-top: 2em;
}

/* twitter hax */
.twitter-tweet {
	margin: auto !important;
}

/* Youtube hax */
.youtube_frame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.youtube_resize img {
	width: 100%;
}

.youtube_resize {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 1em auto;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}
