html {
	height: 100%;
}

body {
	margin:0;
	background-image: url('../images/bg.png');
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	height: 100%;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
	color: #14B198;
	text-shadow: 0px 1px 5px #d6d6d6;
	padding: 0 0.5em;
	letter-spacing: -0.06em;
	word-spacing: 0.25em;
	line-height: 1.1em;
	padding: 0;
	display: block;
	width:100%;
	text-transform: uppercase;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	text-shadow: 0px 1px 5px #d6d6d6;
	margin: 0 0 0.5em 0;
}

h3 {
	font-family: 'Oswald', sans-serif;
	text-shadow: 0px 1px 5px #d6d6d6;
}

aside.archive {
	text-align: center;
	width: 80%;
	margin: auto;
	border-top: solid 1px #cacaca;
	padding: 1em;
	font-size: 2em;
	margin-top: 2em;
}

article {
	padding: 0 1em 0 0;
}

main {
	float: right;
	width: 74%;
	margin: 0 3%;
}

.sidebar {
	float: left;
	width: 18%;
	background-color: #333;
	height: 100%;
	position: fixed;
	padding: 0 1%;
	box-shadow: inset -10px 1px 18px -9px #000;
}

.sidebar p {
	color: #A2A2A2;
}


.social {
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.3em;
	margin-top: 2em;
	text-shadow: 2px 1px 10px rgba(30, 30, 30, 0.95);
}

.social a {
	color: #A2A2A2;
}

.social a:hover {
	color: rgb(78, 206, 176);
	transition: color 2s;
	-webkit-transition: color 1s;
}

p, .archive {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	margin: 0 0 1em 0;
}

ul.archive {
	list-style-type: none;
	font-size: 1.2em;
	padding: 0;
}

.archive li {
	margin-bottom: 1.5em;
}

.archive a {
	border-bottom: solid 1px #efefef;
}

.date {
	font-size: 0.8em;
	color: #818181;
}

#photo {
	width: 50%;
	border-radius: 50%;
	display: block;
	margin: 1em auto;
	max-width: 150px;
}

nav a, nav a:hover{
	border-bottom:none;
}



a, p a, ol li a, .archive a {
	text-decoration: none;
	color: rgb(78, 206, 176);
	font-weight: 500;
}

time {
	display: block;
	color: #acacac;
	font-size: 1.2em;
	font-family: 'Source Sans Pro', sans-serif;
	word-spacing: 8px;
	font-style: italic;
	margin-bottom: 1em;
}

header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 2em;
	background-color: #3f3f3f;
	color: #efefef;
	padding: 0.3em;
	overflow: hidden;
}

#title {
	float: left;
}

#title a {
	color: #efefef;
	font-weight: 200;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	height: 40px;
}

nav ul li {
	display: inline-block;
	margin-right: 0.1em;
}

nav ul li a img {
	vertical-align: middle;
	opacity: 0.4;
	height: 35px;
}

nav ul li:hover a img {
	transition-duration: 1s;
	-moz-transition-duration: 1s; /* Firefox 4 */
	-webkit-transition-duration: 1s; /* Safari and Chrome */
	-o-transition-duration: 1s; /* Opera */
	transition-property:opacity;
	-moz-transition-property:opacity; /* Firefox 4 */
	-webkit-transition-property:opacity; /* Safari and Chrome */
	-o-transition-property:opacity; /* Opera */
	opacity: 0.8;
}

nav ul a {
	color: #3f3f3f;
}

ol {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

ul {
	padding: 0 5em;
}

li {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

blockquote {
	background-image: url('../images/quotebg.png');
	background-repeat: no-repeat;
	padding: 20px 0 0 50px;
}

blockquote p:first-child {
	font-size: 1.2em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px #58E0C0;
}

cite {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
}

.citation {
	text-align: right;
}

.main-wrap, .header-wrap {
	max-width: 970px;
	width: 80%;
	margin: 0 auto;
	padding: 0 0.3em;
}

.header-wrap {
	line-height: 2em;
}

#archive {
	font-size: 2em;
	margin: 2em 0;
}

#archive a {
	margin-left: 10px;
}

.prettyprint {
	overflow-x: auto;
	padding: 10px;
}

.image {
	text-align: center;
}

.image img {
	max-width: 100%;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

.center {
	display: block;
	margin: 0 auto;
}

.caption {
	font-size: 0.8em;
	font-weight: bold;
}

.pagination {
	text-align: center;
	margin-bottom: 3em;
	font-size: 2em;
}

.pagination a {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
}

.pagination #prev {
	margin-right: 2em;
}

::selection {
	background: #B3E8FA; /* Safari */
}
::-moz-selection {
	background: #B3E8FA; /* Firefox */
}


/* Youtube hax */
.youtube_frame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.youtube_resize img {
	width: 100%;
}

.youtube_resize {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 1em auto;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}


/* narrow screen */

@media screen and (max-width: 1100px) {
	section.sidebar {
		float: none;
		height: auto;
		position: initial;
		width: 100%;
		padding-bottom: 0.2em;
		box-shadow: none;
	}

	main {
		float: none;
		width: 100%;
		padding: 1em;
		margin: 0em;
	}

	#photo {
		float: left;
		margin: 1em;
	}

	.sidebar p {
		padding-top: 1em;
	}

	.social {
		margin-top: 0em;
	}
}
